<header></header>
<main>
    <div class="video-container">
        <div class="close-video"></div>
        <video controls src="{{ vlink }}"></video>
    </div>
</main>
<script src="scripts/script.js"></script>