<div id="password">
    <div class="pass-form">
        <h2>Ссылка защищена паролем</h2>
        <div class="input-container">
            <input type="password" id="passwd" placeholder="Пароль">
            <button id="passSendBtn">Войти</button>
        </div>
    </div>
</div>
<script src="scripts/password.js"></script>