#password {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

#password .pass-form {
    min-height: 400px;
    width: 600px;
    background-color: #383838;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#password .pass-form img {
    width: 60%;
}

#password .pass-form h2 {
    font-size: 2rem;
    color: #ffffff;
}

#password .pass-form .input-container {
    position: relative;
    display: flex;
    align-items: center;
}

#password .pass-form .input-container input {
    padding: 5px 20px;
    font-size: 1.3rem;
    border-radius: 10px 0 0 10px;
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#password .pass-form .input-container input.error {
    background-color: red;
}

#password .pass-form .input-container input::placeholder {
    color: #adadad;
}

#password .pass-form .input-container button {
    font-size: 1rem;
    background-color: #147db0;
    font-weight: 500;
    padding: 7px 20px;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

@media screen and (width <= 600px) {
    #password .pass-form {
        border-radius: 0;
        width: 100vw;
    }

    #password .pass-form h2 {
        font-size: 1.5rem;
    }

    #password .pass-form .input-container input {
        width: 50vw;
    }
}