<div id="toaster"></div>
<div id="password">
    <div class="wrapper">
        <form id="passwordForm">
            <div class="image-container"></div>
            <div class="form-container">
                <h3>Авторизация</h3>
                <div class="input-container">
                    <label class="login-input">
                        <p class="placeholder">E-mail</p>
                        <img src="./views/images/icons/email.svg" alt="email icon">
                        <input type="email" name="email">
                    </label>
                    <label class="password-input">
                        <p class="placeholder">Пароль</p>
                        <img src="./views/images/icons/lock.svg" alt="lock icon">
                        <input type="password" name="password">
                    </label>
                    <p class="submit">
                        <label>
                            <span><input type="checkbox" name="remember" checked>Запомнить меня</span>
                        </label>
                        <button>Войти</button>
                    </p>
                </div>
                <a href="javascript:void(null)">Забыли пароль?</a>
            </div>
        </form>
    </div>
</div>
<script src="./views/scripts/toaster.mjs" type="module"></script>
<script src="./views/scripts/admin.login.mjs" type="module"></script>